<div id="eventCreatePath" class="hidden"><%= events_path() %></div>
<div id="newEventPath" class="hidden"><%= new_event_path() %></div>
<div id="eventsJson" class="hidden"><%= ActiveModel::ArraySerializer.new(@events, each_serializer: EventSerializer).to_json %></div>
<div id="calendar">
</div>
<div class="modal fade" id="newEvent" tabindex="-1" role="dialog" aria-labelledby="newEventLabel">
</div>
