<h1>Hello again from Blast!</h1>
<br/>
<br/>
EVENT TITLE: <b><%= @event.title %></b>
<br/>
We are mailing you to notify you that you have an upcoming <%= @event.event_type %> on <%= @event.date.to_s(:long) %>.
