.anniversary {
  background-color: rgba(183, 45, 45, 0.3) !important;
}

.birthday {
  background-color: rgba(103, 178, 73, 0.3) !important;
}

.holiday {
  background-color: rgba(93, 93, 221, 0.3) !important;
}
