.nav-left {
  float:left;
  height: 100vh;
  padding: 0;
}

.slide-menu {
  margin-top: 12pt;
  margin-right: 12pt;
  background-color: #CECECE;
  height: inherit;
  border-radius: 0 25px 25px 0;
  width: 60px;
}

.slide-menu i {
  float: right;
}

.menu-label {
  float: right;
  width: 75px;
  display: none;
}