.nav-left {
  float: left;
  padding: 25px 0 25px 0;
  height: 100vh;
}

.slide-menu {
  height: 100%;
  padding-top: 12pt;
  margin-right: 12pt;
  border-radius: 0 25px 25px 0;
  width: 60px;
  -webkit-box-shadow: inset -55px 0px 98px 45px rgba(138,176,209,0.76);
  -moz-box-shadow: inset -55px 0px 98px 45px rgba(138,176,209,0.76);
  box-shadow: inset -55px 0px 98px 45px rgba(138,176,209,0.76);

  ul {
    padding: 0 12pt 0 0;

    li {
      display: inline-block;
      width: 100%;
      list-style-type: none;

      .menu-label {
        display: none;
        float: right;
        font-family: "calibri", Garamond, 'Comic Sans';
        font-size: 14pt;
        font-weight: bolder;
        padding-right: 10px;
      }

      i {
        float: right;
        margin-bottom: 12pt;
      }
    }
  }
}
